asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
boto3==1.43.18
botocore==1.43.18
cbor2==6.1.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cloudinary==1.44.2
constantly==23.10.4
cryptography==48.0.0
daphne==4.1.2
Django==6.0.5
django-allauth==65.18.0
django-cloudinary-storage==0.3.0
django-storages==1.14.6
djangorestframework==3.17.1
gunicorn==26.0.0
hyperlink==21.0.0
idna==3.17
Incremental==24.11.0
jmespath==1.1.0
msgpack==1.1.2
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
py-ubjson==0.16.1
pycparser==3.0
pyOpenSSL==26.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.34.2
s3transfer==0.18.0
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
stripe==15.2.0
Twisted==26.4.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.12.1
urllib3==2.7.0
whitenoise==6.12.0
zope.interface==8.5
